
  body{
    background-color: rgb(253, 251, 251);
    color: black;
    font-family: cursive;
  }    
  
  #cabecalho{
    background-color:#036b52;
    width: 100%;    
    position: fixed;     
    color: white;  
    top: 0;
    border-bottom: 7px solid #2fc18c;  
    text-align: center;     
  }
   
  .link{
    font-family: helvetica, sans-serif;
    padding: 5px;  
  }
  
  .link li{
    display: inline;
    list-style: none;

  }
  .link a{
    text-decoration: none;
    color: white;
  }  

  #minha_foto{
    border-radius: 50%;
    border: 6px solid #2fc18c;
    width: 150px;
    height: 150px;
  }

  #section{
    margin-top: 200px;
    text-align: center;
  }

  #section2{
    display: inline-block;
    width: 30%;    
  }
  #imagemsection{
    float: center;
    margin-left: 10%;
  }
  #licoes_aprendidas{
    text-align: justify;
    font-weight: bold;        
  }

  #licoes_a_aprender{
    text-align: center;
    font-weight: bold;        
  }
  
  .aside{
    width: 30%;
    text-align: center;
    float: right;
    
  }
  #article{
    max-width: 50%;
    line-height: 25px;    
  }
  .botao{
    background-color:#2fc18c;
    border-radius: 10px;
    padding: 10px; 
    color: #036b52;         
    width: 100px;   
    border: 4px solid #036b52;
    font-weight: bolder;  
    display: inline-block;          
  }
  
  .centro{
    text-align: center;  
    margin-top: 50px;  
    line-height: 25px;
  }  
  .pbotao2:hover{
  color: rgb(253, 251, 251);
  background-color:#036b52;
  border: 4px solid #2fc18c; 
  font-weight: bolder;
  padding: 10px ;   
  width: 100px;      
  }

  #h2proximospassos{
    text-align: center;
    font-size: 50px;
  }
  .footer{
    background-color: #036b52;
    color: white;
    width: 100%;   
    padding: 10px;
    bottom: 0px;
  }

  .footer a{
    text-decoration: none;
    color: white;
    font-family: Helvetica, sans-serif;
    width: 50%;
    
  }

  .botaofooter{
    background-color:#2fc18c;
    border-radius: 5px;
    padding: 5px;
    color: #036b52;         
    width: 100%;   
    font-weight: bolder;  
  } 

  #nomerodape{
    text-align: left;
    width: 50%;
  }

  #contatotrybe{
    text-align: right;
    width: 50%;
    float: right;
  }